<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{/layouts/app}">
<div layout:fragment="content">




    <div class="card">
        <div class="card-body">
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1" th:text="${article.getTitle()}"></h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2" th:text="${article.getCreatedAt().toString()}"></div>
                    <!-- Post categories-->
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4">
                    <img class="img-fluid rounded" src="https://cdn.pixabay.com/photo/2016/05/01/21/20/earth-1365995_1280.jpg" alt="...">
                </figure>
                <!-- Post content-->
                <section class="mb-5" th:utext="${article.getContent()}"></section>
            </article>
        </div>


    </div>


</div>


